.Home {
    font-family: sans-serif;
    text-align: left;
    width: 70vw;
    margin: 0 auto;
    
  }

  .Home button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.Train {
    font-family: sans-serif;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
  }

  .Train h1 {
    font-size: 24px;
    color: #dee2e6;
  }
  h3 {
    margin-top: 0;
  }
  
  .tabs-component [role="tablist"] {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    position: relative;
  }
  
  .tabs-component [role="tablist"] button {
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 3rem;
    cursor: pointer;
    margin: 0 4px;
    outline: none;
    background-color: #fff;
    transition: border 0.2s ease-in-out 0s;
  }
  
  .tabs-component [role="tablist"] button.active,
  .tabs-component [role="tablist"] button:focus,
  .tabs-component [role="tablist"] button:hover {
    border-width: 1px;
    border-color: #e9ecef #e9ecef #b41c1c;
  }
  
  .tabs-component [role="tablist"] button.active {
    color: #495057;
    background-color: #f8f8f8;
  }
  
  .tabs-component [role="tabpanel"] {
    text-align: left;
    padding: 3rem;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 2px rgb(204 204 204 / 75%);
  }
  
  .tabs-component.vertical {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .tabs-component.vertical [role="tablist"] {
    flex-direction: column;
  }
  
  .tabs-component.vertical [role="tabpanel"] {
    flex: 1;
  }
  
  .tabs-component [role="tablist"] button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
  }
  
  .tabs-component.vertical [role="tablist"] button.active,
  .tabs-component.vertical [role="tablist"] button:focus,
  .tabs-component.vertical [role="tablist"] button:hover {
    border-color: #e9ecef transparent #e9ecef #b41c1c;
  }

  .Parameter {
    border: 1px solid #ccc; /* สร้างเส้นกรอบ 1px สีเทา */
    padding: 40px; /* เพิ่มระยะห่างรอบขอบของช่อง input */
  }
  
  .Parameter div {
    margin-bottom: 5px; /* เพิ่มระยะห่างระหว่างแต่ละช่อง input */
  }
  
  .Parameter label {
    display: block; /* แสดง label เป็นบรรทัดใหม่ */
    font-weight: bold; /* ทำให้ข้อความ label หนาขึ้น */
  }
  
  .Parameter input {
    width: 100%; /* ขยาย input ให้เต็มความกว้างของพื้นที่ของ Parameter */
    padding: 5px; /* เพิ่มระยะห่างรอบขอบของ input */
    border: 1px solid #000000; /* สร้างเส้นกรอบสำหรับ input */
    border-radius: 4px; /* ทำให้มีมุมโค้งบนขอบของ input */
  }
  input {
    display: block;
    width: 100%;
    padding-top: 20px;
    border: none;
    border-radius: 0;
    color: black;
    background: transparent;
    font-size: 15px;
    transition: 0.3s ease;
  }