@import "../../../settings/Settings";

.LoadImagesFolderPopupContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
  min-height: 300px;
  align-self: stretch;

  .DropZone {
    user-select: none;
    align-self: stretch;
    border-radius: 4px;
    flex: 1;
    color: white;

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    > img {
      max-width: 60px;
      max-height: 60px;
      margin-bottom: 30px;
      filter: brightness(0) invert(1);
      user-select: none;
    }

    > input {
      outline: none;
    }

    > p {
      margin-top: 2px;
      margin-bottom: 0;

      &.extraBold {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
.TextInput {
  width: calc(100% - 3px);
  display: flex;
  flex-wrap: nowrap;
  align-items: center; // Update to center
  margin: 0 auto; // Add margin to center horizontally
  border: 2px solid #000000; /* Add border style */
  border-radius: 2px; /* Add border radius */
  padding: 8px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #ffffff; /* Set the text color to white */

  &.disabled {
    // Existing styles for disabled state
  }
}
